.MainView {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.graficoView {
  display: flex;
  justify-content: center;
}

.infoView {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 780px) {
  .MainView {
    flex-direction: column;
  }
}
